@model YouFly.core.Models.Airport
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Airport</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="AirportName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AirportName" class="form-control" />
                <span asp-validation-for="AirportName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Country" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IATA" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IATA" class="form-control" />
                <span asp-validation-for="IATA" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ICAO" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ICAO" class="form-control" />
                <span asp-validation-for="ICAO" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Latitude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Longitude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Altitude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Altitude" class="form-control" />
                <span asp-validation-for="Altitude" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UTC" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UTC" class="form-control" />
                <span asp-validation-for="UTC" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DST" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DST" class="form-control" />
                <span asp-validation-for="DST" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TimeZone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TimeZone" class="form-control" />
                <span asp-validation-for="TimeZone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Source" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
